.product_main{
  width:auto;
  margin:0px;
  display:flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap:60px;
  background: #37383b url(https://www.dropbox.com/s/fuadz3vmw2nsylm/bg.png?raw=1);
  background-size: cover;
  justify-content: start;
 
}
.product_showDeatils{
  margin-right: -350px;
  font-size: 15px;
  color: rgb(0, 208, 255);
}
.product_main_cont{
  display: flex;
  background: #37383b no-repeat;
  height: fit-content;
  width: 600px;
  margin:auto;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-bottom: 20px;
}

.product_main_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}
.product_main_container2{
  margin: auto;
  margin-top: 10px;
  padding-left: 10px;
  height: 250px;
  width: 580px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ff6d39;
  margin-left: 13px;
  border-radius: 0% 50% 50% 0%;
  z-index: 5;
  
}
.product_image_div{
  /* width:350px;
  height:250px;
  overflow: hidden; */
  margin-left: -18px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.product_image{
  width:350px;
  height:250px;
  object-fit: cover;
  overflow: hidden;
}

.product_des_container{
  height:auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product_name{
  color: #ff6d39;
  font-family: "muli";
  font-weight: bold;
  font-size: 22px;
}

.product_description{
  color: #ffffff;
  font-family: "muli";
  font-size: 13px;
  font-weight: 300;
  margin-left:10px;
  margin-right: 10px;
  text-align: justify;
  
}

.product_price{
  color: #fa5317;
  font-family: "muli";
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .product_main_cont{
    width:360px;
  }
  .product_main_container2{
    width:300px;
    height:200px;
  }

  .product_image{
    width:300px;
    height:150px;
  }

  .product_showDeatils{
    margin-right: -250px;
    font-size: 15px;
    color: rgb(0, 208, 255);
  }
}